/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


body {
	font-family: 'articulat-cf';
	background-color: rgb(128,128,128);
	}
	
div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	margin: auto;
	min-height: 100vh;
	max-width: 90em;
}

div.container { 
	position: relative;
	min-height: 100vh;
	margin: auto;
	background-color: rgb(255,255,255);
	max-width: 90em;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: .5em 1.3em 4em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: block;
	height: 7em;
	grid-template-columns: 1em 1em;
	background: rgb(255,255,255);
	padding: 1em 1em 0em;
	margin: 0em 0em;
	}

h1 {
	width: 15em;
	}

h2, h3, h4 {
		font-weight: bold;
		font-family: 'articulat-cf';
	}

h2 {
	font-family:'linotype-didot-headline';
	font-size: 2em;
	margin: 1em 1em 0em;
	}
	
h3 {
	font-size: 1.5em;
	font-weight: 700;
	margin: 1em .7em 1em;
	max-width: 90em;
}

h4{
	margin: 1em 1em 0em;

}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 0em;
	padding: 1em 2em 0em;
}

article{
	margin: auto;
	padding-bottom: 2em;
	max-width: 50em;
}
main.menu ul {
		margin:  2em 1.5em;
}	

main.menu ul li {
		margin:  1em 0em 1em;
		display: inline-table;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 1em 1em;
	font-family: 'articulat-cf';
	}
	
p.description {
	margin: 0em;
	}
	
p.price {
	color: rgb(141,164,114);
	text-align: right;
	margin: 0em;
	}

ul li.selected{ 
	background-color:rgb(255,255,255);
	color: rgb(0,0,0)
}
nav ul li {
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 0em;
	font-family: 'linotype-didot-headline';
	display: inline;
	font-size: 1.5em;
	}
	
nav ul li a {
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
	padding: .5em .5em .3em;
	margin: 0em .2em;
	}
	

p.slogan {
	font-size: 4em;
	font-family: 'linotype-didot-headline';
	font-style: italic;
	margin: .5em .5em 2em;
	color: rgb(0,0,0);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em 2em;
  background: rgb(141,164,114);
  font-family: 'articulat-cf';
}

address {
	color: rgb(0,0,0);
	margin: 0em .8em 1em;
	font-family: 'articulat-cf';
	}

footer p {
	padding-top: 5em;
}

@media screen and (min-width: 60em) {
	main.menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr)
	}
	header{
		display: grid;
		grid-template-columns: repeat(2, 1fr)
	}
	header{
	display: grid;
	grid-template-columns: repeat(2, 1fr)
	}
}
