/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

div.container, div.home-container{
    margin: auto;
    position: relative;
    max-width: 40em;
    padding: 1em;
}

body{
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
    height: auto;
    margin: 0em;
    padding: 0em;
}

header{
    height: auto;
    
}

h1{
    width: 7em;
    padding: 0em 0em 1em;
}

h2{
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: #566D7E;
    font-size: 2em;
    margin: 1em 0em 0em;
    
}

nav{
    font-family: sans-serif;
    color: #566D7E;
    font-weight: bold;
    margin-bottom: 1em;
    overflow: hidden;
}

nav ul{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}

nav ul li{
    display:inline;
    margin-right: 1em;
}

nav ul li a{
    text-decoration: none;
    color:#566D7E;
}

@media (max-width: 40em) {  
    nav ul li{
        display:block;
        margin-right: 0em;
        margin-bottom: .5em;
    }
    
    nav ul li a{
        display: block;
    }
}

p{
    margin: 1em 0em;
    color: #000000;
}

aside{
    background-color: #CCCCFF;
    padding: .5em;
}

a{
    text-decoration: none;
    color: inherit;
}

figcaption{
    font-family: sans-serif;
    font-style: italic;
    padding: 1em 0em 1em;
    color: #808080;
}

section.secondarystory h2{
    font-family: serif;
    text-decoration: none;
    color: #566D7E;
    font-size: 2em;
    font-weight: bold;
}

section.tertiarystory h2 {
    font-family: serif;
    text-decoration: none;
    color: #566D7E;
    font-size: 1em;
    margin: 1em 0em 0em;
    padding: 1em 0em 0em;
    border-top: 1px solid #566D7E;
}

section.mainsecondarystory h2{
    font-family: serif;
    text-decoration: none;
    color: #566D7E;
    font-size: 1em;
}

footer{
    background-color: #566D7E;
    padding: 1em 0em;
    margin: 0em;
    color: #ffffff;
    box-sizing: border-box;
}

@media only screen and (min-width: 60em) {

    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
    
    header, footer{
        grid-column: 1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }


    div.container aside{
        margin-top: 0;
    }

    section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

    section.mainstory a p{
        flex: 0 0 4em;
    }

    section.secondary{
        display: flex;
    }

    section.secondary a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img{
        object-fit: cover;
    }

    section.secondary a h2{
        flex: 0 0 1em;
    }

    section.secondary a p{
        flex: 0 0 4em;
    }
}